body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.navbarcontainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(145, 204, 171, 0.3);
  z-index: 2;
  padding-bottom: 20px;
}

.navbar {
  width: 100vw;
  flex-direction: row;
  padding: 0px 20px 20px 20px;
}

.metanav {
  display: flex;
  margin-top: 26px;
  float: right;
  text-decoration: none;
}

.navitem {
  color: white;
  font-family: Roboto, sans-serif;
  margin: 10px 20px;
  font-weight: 550;
  text-decoration: none;
}

.opennav {
  float: right;
  width: 104px;
  height: 27px;
  margin-top: 26px;
  margin-left: 40px;
  margin-right: 52px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #fff;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: top;
  text-decoration: none;
  color: white;
}

.logo {
  position: relative;
  float: left;
  z-index: 1;
  width: 201px;
  height: auto;
  margin-top: 18px;
  margin-left: 0px;
}

.topPurple {
  background-color: #331a5c;
  background-image: url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
  height: 100vh;
  padding-top: 180px;
  padding-bottom: 170px;
  width: 100%;
  min-height: auto;
  margin-top: -80px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#topContainer {
  max-width: 1200px;
  margin-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
}

#topTextContainer {
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
}

.textHead {
  font-size: 41px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: white;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.textBod {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  line-height: 30px;
  padding-top: 15px;
}

.computor-img {
  position: relative;
  width: 80%;
  max-width: 610px;
  margin-bottom: 30px;
}

.button {
  min-width: 225px;
  padding: 10px 40px;
  float: none;
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(254, 144, 0, 0);
  border-radius: 3px;
  background-color: #fe9000;
  text-decoration: none;
  transition: border 300ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.44px;
  text-indent: 1.44px;
  text-transform: uppercase;
  white-space: nowrap;
  background-clip: padding-box;
  -o-object-fit: fill;
  object-fit: fill;
}

.sectionWhite {
  background-color: white;
  padding-top: 75px;
  padding-bottom: 75px;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
}

.headingWhiteSection {
  color: #434146;
  text-align: center;

  margin-bottom: 55px;
}

.gridFeaturedBrands {
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 100px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 82px;
  -webkit-box-align: center;
}

.quote {
  font-family: Roboto, sans-serif;
  color: #434146;
  font-size: 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.quoteSource {
  font-family: Roboto, sans-serif;
  color: #434146;
  font-size: 17px;
  display: block;
  text-align: right;
  font-style: italic;
  margin-right: 8em;
}
